{% load static %}<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HJM7Q5WJ3C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HJM7Q5WJ3C');
</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  {% block metas %}
  <title>CodeExpert</title>
  <meta name="description" content="Entrena algoritmos y mejora tu preparación para entrevistas de código.">
  <meta name="keywords" content="algoritmos,programacion,entrena algoritmos,retos algoritmos, preparación para entrevistas, whiteboard código,retos programacion">
  <meta property="og:url"                content="http://codeexpert.club" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="CodeExpert" />
  <meta property="og:description"        content="Entrena algoritmos y mejora tu preparación para entrevistas de código." />
  <meta property="og:image"              content="http://codeexpert.club/static/img/slide.jpg" />
  {% endblock %}

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">


<style type="text/css">
#content-wrapper {
  max-width: 1000px;
  margin: auto;
}
.navbar img {
  max-width: 180px;
  border-radius: 9px;
}
.card-body .badge {
  position:absolute;
  right:4px;
  top:4px;
}
.table-challenges td, .table-challenges th {
  text-align: center;
}
.table-challenges td:first {
  text-align: left !important
}
.table-challenges a {
  color:white;
}
#slide {
  background-image: url("{% static 'img/slide.jpg' %}");
  background-position-y: -25px;
  display: block;
  height:300px;
  width:100%;
  background-size: cover;
  border-radius: 9px;;
}
#slide h1 {
  color: #fff;
    margin: 0 0 20px;
    font-size: 38px;
    font-weight: 400;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
}
#slide p {
  font-size: 18px;
  color: #fff;
  margin: 0 0 30px;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
}
.badge-medium {
  color: #fff;
  background-color: #f6c23e;
}
.badge-hard {
  color: #fff;
  background-color: #e74a3b;
}
</style>
</head>

<body id="page-top">
  
  <!-- Page Wrapper -->
  <div id="wrapper">



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <a href="{% url 'challenges:home' %}"><img src="{% static 'img/logo.png' %} "></a>
          <!-- Topbar Search -->
          <form action="{% url 'challenges:search' %}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

            <div class="input-group">
              <input type="text" name="q" class="form-control bg-light border-0 small" placeholder="Buscar reto..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
          {% if not user.is_authenticated %} 
            <li class="nav-item"><a href="#" data-toggle="modal" data-target="#signModal">Inicia sesi&oacute;n o registrate</a></li>
          {% else %}
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter"></span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Now</div>
                    <span class="font-weight-bold">Estas al d&iacute;a con tus alertas!</span>
                  </div>
                </a>
               
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                <p class="img-profile rounded-circle" src=""><i class="fa fa-user" style="font-size: 25px;padding-top: 11px;"></i></p>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'profiles:panel' %}">
                  <i class="fas fa-chart-line fa-sm fa-fw mr-2 text-gray-400"></i>
                  Dashboard
                </a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar sesi&oacute;n
                </a>
              </div>
            </li>

          </ul>
          {% endif %}

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
            {% block container %}

            {% endblock container %}

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Login Modal-->
  <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inicia sesión o registrate</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger"><i class="fab fa-google"></i> Identificate con Google</a>

        </div>
        
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  {% block scripts %}

  {% endblock scripts %}
  <script id="dsq-count-scr" src="//codeexpert.disqus.com/count.js" async></script>
</body>

</html>
